{% extends 'layout/base.html' %}
{% block content %}
		
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/cs.jpg" alt="Carol Shaw image"></div>
</div>
<div class="section white">
    <div class="container">

        {% include 'layout/user-feedback-message.html' %}
        
        <h2 class="heading-text">Carol Shaw</h2>
        <p class="secondary-text">She changed the history of videogames!</p>
        <p>I bet you too like minecraft, racing games, sports...We all do, right?!</p>
        <p>Well, Carol Shaw helped us getting where we are now. She did an amazing job developing games that changed the way people had fun.</p>
        <p>She was born in 1955 in California - US, She only used a computer when she was in high school! And they didn't have any smartphones either!</p>
        <p>She studied a lot and in 1978 she started working for Atari!</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/bg.png" alt="Game image"></div>
</div>
{% endblock %}