{% extends 'layout/base.html' %}
{% block content %}
		
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/cs.jpg" alt="Carol Shaw image"></div>
</div>
<div class="section white">
    <div class="container">

        {% include 'layout/user-feedback-message.html' %}
        
        <h2 class="heading-text">Carol Shaw</h2>
        <p class="secondary-text">She changed the history of videogames!</p>
       <p>
       Shaw was hired at Atari Inc in 1978 to work on games for the Atari VCS  with an official job title of Microprocessor Software Engineer. The game reached the prototype stage, but Atari chose not to publish it.
Shaw's first published game was 3-D Tic-Tac-Toe for the Atari 2600 in 1978. She also wrote Video Checkers (1980), and collaborated on two titles: a port of the coin-op game Super Breakout with Nick Turner and Othello with Ed Logg.
       </p>

        
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/bg.png" alt="Game image"></div>
</div>
{% endblock %}