{% extends 'layout/base.html' %}
{% block content %}
		
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/cs.jpg" alt="Carol Shaw image"></div>
</div>
<div class="section white">
    <div class="container">

        {% include 'layout/user-feedback-message.html' %}
        
        <h2 class="heading-text">Who is Carol Shaw?</h2>
        <p class="secondary-text">She was a very smart woman that you should know more about!</p>
        <p>She worked making games! What a great job huh!? She was very smart and made some of the games that changed the history!</p>
        <p>Read more on this section and you will see how cool she was and that without her, our games today wouldn't be that fun!</p>
        <a href="{{url_for('cs_bio')}}" class="btn waves-effect secondary-text index-action-button" aria-label="Go to Carol Shaw page">
            Bio
        </a>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/bg.png" alt="Game image"></div>
</div>
<div class="section white">
    <div class="container">
        <h2 class="heading-text">Carol Shaw work</h2>
        <p class="secondary-text">Some of the most famous games</p>
        <p>She made some really cool games! 3D tic-tac-toe, Super Breakout, Happy Trails and many more! Click on the button below to see more about these games!</p>
        <a href="{{url_for('cs_work')}}" class="btn waves-effect secondary-text index-action-button"aria-label="Go to games page">
            Games
        </a>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/people.jpg" alt="People huging image"></div>
</div>
<div class="section white">
    <div class="container">
        <h2 class="heading-text">Gender equality</h2>
        <p class="secondary-text">We are all equal!</p>
        <p>No matter how tall or short, outgoing or smart...we are all the same, right? Exactly! But for some reason, some people treat other people differently because they are a man or a woman...and that's not right.</p>
        <p>We all laugh and cry and get hurt the same way. So why would someone think we are so different?</p>
        <p>Visit this page down here and we will show you why we are all the same and why that is a great thing!</p>
        <a href="{{url_for('equality')}}" class="btn waves-effect secondary-text index-action-button" aria-label="Go to equality page">
            Equality
        </a>
    </div>
</div>
{% endblock %}