@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Josefin+Sans|Roboto&display=swap');

$yellow-color: #FFD85B;
$red-color: #DD565F;
$black-color: #424242;
$blue-color: #426CCE;
$white-color: #E6E8E6;


html{
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
}

.header-text{
    font-family: "Ferdoka One", sans-serif;
    font-size: 2rem;
}

.secondary-text{
    font-family: "Josefin Sans", sans-serif;
}

/* Header */

.nav-wrapper {
    background-color: #426CCE;
}

.logo-name {
    color: #FFD85B;
    text-shadow: -1px 2px 5px black;
    font-size: 3rem;
    font-weight: 800;
}

.menu-icon{
    color: #FFD85B;
    text-shadow: -1px 2px 5px black;
}

/* Index */

.index-action-button {
    width: 30%;
    background-color: #426CCE;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}