<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h5>About Carol Shaw</h5>
                <p>Carol Shaw (born 1955) was one of the first female game designers and programmers in the video game industry. She is best known for creating the Atari 2600 vertically scrolling shooter River Raid (1982) for Activision. She worked for Atari, Inc. from 1978-1980 where she designed multiple games including 3-D Tic-Tac-Toe (1978) and Video Checkers (1980), both for the Atari 2600. She left game development in 1984 and retired in 1990.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>© 2020 Team 7 - Carol Shaw</p>
        </div>
    </div>
</footer>