<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h5>About Carol Shaw</h5>
                <p>We are passionate about dogs and we want to make it easier for everyone to find their best friends.<br>
                Here we put together and within your reach a variety of dogs, services and stores.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>© 2020 Team 7 - Carol Shaw</p>
        </div>
    </div>
</footer>