<header>
    <nav>
        <div class="row nav-wrapper">
            <div class="col s4 menu-box">
                <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons menu-icon">menu</i></a>
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('cs_bio')}}">Carol Shaw</a></li>
                    <li><a href="{{url_for('cs_work')}}">Games</a></li>
                    <li><a href="{{url_for('equality')}}">Equality</a></li> 
            
                </ul>
                <ul class="side-nav" id="mobile-menu">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('cs_bio')}}">Carol Shaw</a></li>
                    <li><a href="{{url_for('cs_work')}}">Games</a></li>
                    <li><a href="{{url_for('equality')}}">Equality</a></li> 
                </ul>
            </div>
            <div class="col s4 logo-box">
                <a class="header-text logo-name" href="" >Carol Shaw</a>
            </div>
            <div class="col s4">
            </div>
        </div>
    </nav>
</header>